<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
        body{
            margin: 0px;
        }
        #header{
            background: black;
            color: white;
            height: 15vh;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .headeritems{
            font-family: 'Staatliches', cursive;
            font-size: 8vh;
            flex-grow: 1;
            text-align: center;
        }
        .content{
            width: 100vw;
            height: 85vh;
            background: tomato;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow: auto;
        }
        .slide{
            position: absolute;
            color: black;
            background: white;
            width: 85vw;
            margin-top: 3vh;
            height: 80vh;
        }
        .rORd{
            position: relative;
            top: 0;
            width: 85vw;
            height: 6vh;
            background: #ebebeb;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .options{
            text-align: center;
            flex-grow: 1;
            font-family: 'Staatliches', cursive;
            font-size: 4vh;
        }
        .input{
            position: relative;
            top: 6vh;
            left: 4.5vw;
            text-align: center;
            width: 75vw;
            height: 30vh;
            font-size: 5vh;
            border: 3px solid white
        }
        .options:hover{
            font-size: larger;
        }
        .input:hover{
            border: 3px solid black
        }
        a{
            text-decoration: none;
            color: white;
        }
        .headeritems:hover{
            border-bottom: 3px solid white;
            transition: 0.2s ease;
        }
    </style>
</head>
<body>
    <div id="header">
        <a href="/home" class = "headeritems">Go back</a>
        <div class = "headeritems" id="update">Update</div>
    </div>
    <div class="container">
        <%for(var i=0; i<pages.length; i++){%>
            <div class="content">
                <div class="slide">
                    <div class="rORd">
                        <div class = "options">remove</div>
                        <div class = "options">duplicate</div>
                    </div>
                    <input type="text" name="page<%= i+1 %>" placeholder="Type here" class="input" value="<%=pages[i]%>">
                </div>
            </div>
        <%}%>
    </div>
    <script>
        let container = document.querySelector(".container")
        let options = document.querySelector(".options")
        let update = document.querySelector("#update")
        document.addEventListener("click", (e)=>{
            if(e.target.innerHTML === "remove"){
                e.target.parentNode.parentNode.parentNode.remove()
            } 
            if(e.target.innerHTML === "duplicate"){
                let clone = e.target.parentNode.parentNode.parentNode.cloneNode(true)
                container.appendChild(clone)
            }
        })

        update.addEventListener("click", (e)=>{
            let idk=[]
            let cln = Array.prototype.slice.call(document.querySelectorAll('.input'), 0)
            for(var i=0; i<container.childElementCount; i++){
                idk.push(cln[i].value)
            }
            idk = {idk}
            let options = {
                method: "POST",
                headers:{
                    "Content-Type": "application/json"
                },
                redirect: "follow",
                body: JSON.stringify(idk)
            }
            fetch(`${window.location.href}/pptupdateapi`, options)
                .then(result => {
                    if(result.redirected){
                        window.location.href = result.url
                    }
                })
                .catch(err => console.log(err))
        })
    </script>
</body>
</html>
